# Production Database Configuration
POSTGRES_USER=sempoa_prod
POSTGRES_PASSWORD=replace_with_strong_password_in_production_123!
POSTGRES_DB=sempoa_sip
POSTGRES_HOST=db
POSTGRES_PORT=5432

# FastAPI Configurations
FASTAPI_ENV=production
SECRET_KEY=replace_with_a_secure_long_random_hex_string_jwt_secret_key_101
ALLOWED_ORIGINS=https://sempoasipariaman.com,https://www.sempoasipariaman.com

# Hardware / ESP32 Configuration
ESP32_API_KEY=SempoaPariaman_ESP32_SecureKey_2026!
